.changelog {
    .MuiButton-root {
        width: 100%;
    }

    .MuiTableContainer-root {
        border-radius: 0px;
        max-height: 400px;
        overflow-y: auto;

        .MuiTableHead-root {
            .MuiTableCell-root {
                background-color: palette(greyscale, 300) !important;
                color: palette(primary, main) !important;
            }
        }
    }
}