.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 70px;
    padding: 10px 30px;

    box-shadow: shadows(2);
    background-color: white;

    .logo {
        padding-right: 30px;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        align-items: center;

        .MuiTypography-root {
            font-size: 1rem;
            font-weight: 500;
            margin-right: 20px;
            padding: 10px 0px;
            // text-transform: uppercase;
        }

        .active {
            .MuiTypography-root {
                font-weight: 600 !important;
                border-radius: shape(borderRadius);
                background-color: palette(primary, main);
                padding: 10px 15px;
                color: white;
                position: relative;
            }
        }
    }
}