.create-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &>div {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    &.no-form {
        .MuiCard-root {
            max-height: 100%;
            width: breakpoints(sm);
        }
    }

    form {
        max-height: 100%;
        width: breakpoints(sm);
    }

    &.lg form {
        width: breakpoints(md);
    }

    .MuiCard-root {
        width: 100%;
    }

    .MuiCardContent-root {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        max-height: calc(100vh - 200px);
        overflow-y: auto;

        border-top: 1px solid palette(greyscale, 400);
        border-bottom: 1px solid palette(greyscale, 400);

        .MuiFormControl-root {
            margin: 10px;
        }

        .form-info {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .form-questions {
            .MuiButton-root {
                margin: auto;
                width: 100%;
                margin: 20px 0px;
            }
        }

        .switch {
            margin: 0px !important;
        }

        .MuiStepper-root {
            max-width: breakpoints(sm);
            padding-top: 15px;
            padding-bottom: 15px;
            margin: auto;
        }

        .MuiTable-root {
            border: 1px solid palette(greyscale, 400);
        }

        
    }

    .MuiCardActions-root {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
    }

    
}


.confirm-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


}

.questions-bank {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &>div {
        padding: 15px;
    }

    .MuiTypography-root {
        padding: 10px;
        cursor: pointer;
    }

    .active {
        color: white;
        font-weight: 600;
        background-color: palette(primary, main);
        border-radius: 3px;
    }
}

.error-text {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto' !important;
    font-size: 0.8rem;
    line-height: 1.66;
    text-align: left;
    color: palette(error, main);
    width: 100%;
    padding: 3px 0px 3px 14px;
}