.browse-table {
    box-shadow: 0px 0px 0px 1px #ADADAD;


    .MuiTableHead-root {
        background-color: #515151;

        th {
            border: none !important;
            padding: 8px 16px !important;
            line-height: 1.35;
            color: white;
            font-size: 0.8rem;
            font-family: 'Plus Jakarta Sans';
            font-weight: 600;
            text-transform: uppercase;
            // box-shadow: 0px 0px 0px 0.5px #393939;
        }

        button {
            padding: 6px;
            margin: -8px;
        }
    }

    .MuiTableBody-root {
        // border: 0.5px solid #ADADAD;

        td {
            // outline: 0.5px solid #ADADAD;
            box-shadow: 0px 0px 0px 0.5px #ADADAD;
            border: none !important;

            &.null {
                background-color: #f9f9f9;
            }
        }

        .MuiTableRow-root:last-child {
            td {}
        }

        .MuiTableRow-root:last-child {
            td:first-child {
                border-bottom-left-radius: shape(borderRadius);
            }

            td:last-child {
                border-bottom-right-radius: shape(borderRadius);
            }
        }
    }

    &.expandable {
        td {
            border-radius: 0px !important;
        }

        .child-table {
            padding: 0px;

            .MuiTableContainer-root {
                border-radius: 0px !important;
                box-shadow: none !important;
            }

            .MuiTableHead-root {
                background-color: #E9E9E9;

                th {
                    color: #666666;
                    font-family: 'Plus Jakarta Sans';
                    font-weight: 600;
                    text-transform: uppercase;
                    box-shadow: 0px 0px 0px 0.5px #ADADAD;
                }
            }
        }

    }
}