.browse-table {
    box-shadow: 0px 0px 0px 1px #ADADAD;

    .MuiTableHead-root {
        background-color: #757575 !important;

        th {
            border: none !important;
            padding: 8px 16px !important;
            line-height: 1.35;
            background-color: #757575 !important;
            color: white !important;
            font-size: 0.8rem;
            font-family: 'Plus Jakarta Sans';
            font-weight: 600;
            text-transform: uppercase;
        }

        button {
            padding: 6px;
            margin: -8px;
        }
    }

    .MuiTableBody-root {
        td {
            box-shadow: 0px 0px 0px 0.5px #ADADAD;
            border: none !important;
            height: 45px !important;

            &.null {
                background-color: #f9f9f9;
            }

            button {
                padding: 10px;
                margin: -10px;
            }
        }

        .MuiTableRow-root:last-child {
            td:first-child {
                border-bottom-left-radius: shape(borderRadius);
            }

            td:last-child {
                border-bottom-right-radius: shape(borderRadius);
            }
        }
    }

    &.expandable {
        td {
            border-radius: 0px !important;
        }

        .child-table {
            padding: 0px;

            .MuiTableContainer-root {
                border-radius: 0px !important;
                box-shadow: none !important;
            }

            .MuiTableHead-root {
                background-color: #E9E9E9 !important;

                th {
                    background-color: #E9E9E9 !important;
                    color: #666666 !important;
                    font-family: 'Plus Jakarta Sans';
                    font-weight: 600;
                    text-transform: uppercase;
                    box-shadow: 0px 0px 0px 0.5px #ADADAD;
                }
            }
        }
    }

    .clickable-table-row {
        cursor: pointer;

        &:hover {
            background-color: rgb(243, 243, 243) !important;

            td {
                background-color: rgb(243, 243, 243) !important;
            }
        }
    }
}

.status-chip {
    text-align: center;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans';

    span {
        padding: 4px 15px;
        border-radius: 3px;
        width: min-content;
        background-color: #c5c5c5;
        color: #414141;
        border: 1px solid #ababab;
    }

    &.created span {
        background-color: #ffdcb3;
        color: #7a511c;
        border: 1px solid #cbab87;
    }

    &.ongoing span {
        background-color: #CDEAB6;
        color: #416522;
        border: 1px solid #a6c38f;
    }

    &.assessor-review span {
        background-color: #B4E9E0;
        color: #386860;
        border: 1px solid #8fc7be;
    }

    &.oversight span {
        background-color: #c8e2ff;
        color: #345376;
        border: 1px solid #a0bad7;
    }

    &.client-review span {
        background-color: #C0AEF5;
        color: #53467c;
        border: 1px solid #9f8dd3;
    }

    &.completed span {
        background-color: #facbd6;
        color: #7e4351;
        border: 1px solid #d2a8b2;
    }
}