.login {
    display: flex;
    height: 100vh;
    width: 100vw;

    .MuiCard-root {
        padding: 50px;
        margin: 10px;
        margin: auto;
        width: 100%;
        max-width: 500px;
    }

    .MuiTypography-h2 {
        padding-bottom: 15px;
        width: 100%;
        text-align: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-right: 30px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .MuiTextField-root {
        margin: 10px 0px;
    }

    .MuiButton-root {
        margin: 10px 0px;
    }
}


.page-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    padding: 20px;

    .MuiCard-root {
        min-width: 500px;
        min-height: 200px;
        width: 50%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: shadows(3);

        .title {
            font-size: 2rem;
            text-align: center;
        }

        .subtitle {
            padding-top: 10px;
            font-size: 1.3rem;
        }
    }

    .subheading {
        font-size: 1.2rem;
        text-align: center;
    }
}