.dashboard {
    margin: 10px 30px 40px;

    // =========== OTHER ===========

    .browse-add {
        display: flex;
        justify-content: flex-end;
        padding: 25px 0px 20px;

        .MuiButton-root:last-child {
            margin-left: 10px;
        }
    }

    .add-new-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 10px;

        .MuiButton-root {
            margin: 10px;
        }
    }

    .filters {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px 0px 15px;
    }

    .filter {
        padding: 0px 15px;

        .label {
            cursor: pointer;

            &.active {
                text-decoration: underline;
                color: palette(primary, main);
                font-weight: 600;
            }
        }

        .count {
            border-radius: 3px !important;
            background-color: palette(greyscale, 400) !important;
            font-size: 0.875rem;
            font-weight: 600;
            padding: 2px 7px !important;
            margin-left: 7px !important;
        }
    }

    .MuiTab-root {
        max-width: 400px;
    }

    .tab-panel {
        .MuiBox-root {
            padding: 0px;
        }
    }
}