.dashboard {
    margin: 10px 30px 40px;

    // =========== ACCORDIONS ===========

    .MuiAccordion-root {
        margin: 10px 0px;
    }

    .MuiAccordion-root:before {
        background-color: white !important;
    }

    .MuiAccordionSummary-root {
        margin: 0px;
        padding: 0px;
        // border: 2px solid palette(secondary, light);
        // border: 2px solid palette(greyscale, 300);
        // border-radius: shape(borderRadius) shape(borderRadius) 0px 0px;

        .MuiAccordionSummary-expandIconWrapper {
            padding: 10px;
        }


    }

    .MuiAccordionSummary-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px !important;
        margin: 0px !important;
    }

    .MuiAccordionDetails-root {
        border-top: 2px solid palette(primary, main);
        padding: 0px 10px;
    }

    .data-row {
        .attribute {
            display: flex;
            flex-direction: column;
            align-items: center;

            .MuiTypography-root:first-child {
                color: palette(secondary, dark);
                font-weight: 600;
                text-decoration: underline;
            }

            .MuiTypography-root:last-child {
                padding: 8px 0px;
            }

        }
    }

    // =========== TABLE ===========

    .MuiTableCell-head {
        // color: palette(secondary, dark);
        font-weight: 600;
        text-transform: uppercase;
    }

    // =========== OTHER ===========

    .browse-add {
        display: flex;
        justify-content: flex-end;
        padding: 0px 0px 20px;

        .MuiButton-root:last-child {
            margin-left: 10px;
        }
    }

    .add-new-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 10px;

        .MuiButton-root {
            margin: 10px;
        }
    }

    .filters {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px 0px 15px;
    }

    .filter {
        padding: 0px 15px;

        span:first-of-type {
            cursor: pointer;
        }

        span:last-of-type {
            border-radius: 3px !important;
            background-color: palette(greyscale, 400) !important;
            font-size: 0.875rem;
            font-weight: 600;
            padding: 2px 7px !important;
            margin-left: 7px !important;
        }

    }
}